Source: skb-framework
Section: misc
Priority: optional
Maintainer: Sven van der Meer <vdmeer.sven@mykolab.com>
Homepage: https://vdmeer.github.io/skb/framework/
Standards-Version: 4.1.2
Build-Depends: debhelper (>= 10)

Package: skb-framework
Architecture: all
Depends: bash (>= 4), bc
Description: skb-framework
 flexible development and application framework
